.wpk-disconnect-google-calendar, .wpk-google-connect, .wpk-save-calendar {
	border: none;
	color: $white;
	padding: 10px 54px;
	font-weight: 600;
	font-size: 16px;
	margin-top: 20px;
	display: inline-block;

	& + .wpk-button-description {
		display: block;
	}

	&[disabled] {
		opacity: 0.5;
		cursor: wait;
	}
}

.wpk-disconnect-google-calendar {
	background: #ff0000b3;
}

.wpk-save-calendar {
	background: #b881fc;
}

.wpk-google-connect {
	background: #4ecb8f;

	&:hover {
		text-decoration: none;
		color: $white;
	}
}

.wpk-full-calendar {
	display: flex !important;
	position: relative;
	height: 100%;
	justify-content: center;
	flex-direction: column;
}

.wpk-hide-all {
	* > {
		display: none;
	}
}

@media(max-width: 400px) {
	.booking-calendar-set table.booking-calendar {
		width: 290px;
	}
}

.calendar-legend-reserved {
	display: block !important;
}

@mixin googleEventEnd() {
	background: linear-gradient(145deg, #b881fc 0%, #b881fc 49%, #ffffff 50%, #ffffff 100%);
}

@mixin googleEvent() {
	background: #b881fc !important;
}

.wpk-google-event {
	&.end_reservation {
		@include googleEventEnd;
	}

	&.calendar-reserved {
		@include googleEvent;
	}
}

.allinone_google_event {
	@include googleEvent;
}

.end_allinone_google_event {
	@include googleEventEnd;
}
