.page-template-user_dashboard_edit_listing{
	.modal-body, .wpk-hour{
		select{
			width: 100%;
			padding: 10px;
			border: 1px solid $borderBg;
		}
	}
}

.wpk-hour{
	select{
		width: 100%;
		padding: 10px;
		border: 1px solid $borderBg;
	}
}
