$mobile: 700px;

.wpk-order-value {
	margin-left: 10px;
	font-size: 15px;
	margin-top: 10px;
}

.wpk-mobile-switches {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	width: 100%;

	&.wpk-user{
		margin-top: 80px;
	}

	.open > .dropdown-menu {
		max-height: 250px;
	}

	.wpk-switch {
		border: none;
		padding: 10px 20px;
		font-weight: 600;
		font-size: 16px;
		margin: 0;

		&:not(#wpk_order) {
			@media(min-width: $mobile) {
				display: none;
			}
		}
	}

	#wpk_order {
		padding: 0 24px;
	}

	@media(max-width: $mobile) {
		padding: 0 10px;

		&.not-logged {
			margin-top: 90px;
		}

		#wpk_order {
			padding: 0;
		}

		button, .filter_menu_trigger {
			background: #FFFFFF;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
			border: solid 1px #FFFFFF;
			box-sizing: border-box;
			border: solid 1px rgba(255, 255, 255, 0);
			color: #8E8E8E;
			font-size: 13px;
			line-height: normal;
			display: inline-block;
			line-height: normal;
			margin: 0 2px 8px;
			padding: 6px 8px;
			position: relative;
			text-decoration: none;
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
			text-align: center;
			user-select: none;
			white-space: nowrap;

			&.filter_menu_trigger {
				width: 100%;
				margin: 0;
				padding: 11px;
				font-weight: 600;
				font-size: 16px;
				white-space: normal;

				.caret {
					display: none;
				}
			}
		}
	}

	> * {
		width: 30%;

		@media(min-width: $mobile) {
			width: 35%;
		}
	}

}

.wpk-mobile-fold {
	display: none;
	width: 100vw;
	height: 100%;
	padding-top: 25px;
	position: relative;
	z-index: 99;

	&.wpk-active {
		display: block;
	}

	.wpk-close-fold {
		position: absolute;
		right: 6px;
		top: 3px;
		box-shadow: none;
		background-color: $white;
		color: #8A8F9A;
		font-size: 16px;
		width: 33px;
		height: 31px;
		border: 1px solid #8A8F9A;
		z-index: 99;
		transition: all 0.2s ease;
		pointer-events: auto;
		float: left;
		margin-right: 6px;
		cursor: pointer;
	}

	#google_map_prop_list_wrapper + .wpk-close-fold {
		top: 68px;
	}

	#google_map_prop_list_wrapper {
		margin-top: 33px;
		height: 100%;
	}

	#advanced_search_map_list {
		margin-top: 34px;
		background: transparent;
		padding: 10px;

		&.not-logged {
			margin-top: 101px;

			& + .wpk-close-fold {
				top: 70px;
			}
		}
	}

}

#google_map_prop_list_sidebar .wpk-mobile-fold {
	padding-top: 0;
}

.wpk-hidden {
	display: none !important;
}

#google_map_prop_list_sidebar {
	@media(max-width: $mobile) {
		width: 100vw;

		#wpk_order {
			width: 30%;
		}
	}
}

.wpk-user{

	#google_map_prop_list_sidebar{

		> .wpk-mobile-fold{
			margin-top: 70px;
		}
	}
}
