.booking_form_request.wpk {

	.wpk-booking-hours {
		margin-bottom: 15px;
	}

	select, input, button {
		&[disabled] {
			cursor: not-allowed !important;
			opacity: 0.5;
		}
	}

}

.wpk-time-section {
	.wpk-booking-hours {
		width: 50%;

		select {
			text-indent: 0 !important;
		}
	}
}

.wpk-booking-hours, .booking_form_request.wpk {

	select {
		@include select;
		padding: 12px;
	}
}

.wpk-booking-hours {
	display: none;

	&.wpk-visible {
		display: block;
	}
}

.wpk-select {
	@include select;
}

.wpk-request-form, #main_search, #booking_form_owner, .advanced_search_map_list_container, .contact_owner_modal {
	select {
		background: $white;

		option {
			&[disabled] {
				background: #f1f3f7;
			}
		}
	}

	.booking_form_request {
		@media(max-width: 600px) {
			overflow: hidden;
		}
	}

	.wpk-time-section.wpk-flex {
		@media(max-width: 500px) {
			.wpk-booking-hours {
				padding: 0 !important;
			}

			.has_calendar {
				padding-right: 0 !important;
				width: 60%;
			}
		}
	}
}

.wpk-request-form, #main_search, #contact_owner_modal {
	.guest_icon {
		position: relative;

		&::after {
			content: '';
			background: url(~assets/icons/icon_guest.png);
			display: block;
			height: 20px;
			width: 20px;
			position: absolute;
			left: 14px;
			top: 16px;
		}

		select {
			text-indent: 25px;
		}
	}
}

#main_search .guest_icon::after {
	left: 45px;
}

.minim_days_reservation {
	background: $white !important;
}

.wpk-cardcom-payment {
	background: green;
	color: white;
	border: none;
	padding: 10px 54px;
	font-weight: 600;
	font-size: 16px;
	margin-top: 20px;
	display: inline-block;
}

.ll-skin-melon .ui-datepicker td.calendar-reserved.start_reservation.ui-datepicker-today .ui-state-default {
	color: $white !important;
}

.wpk-normal-booking .cost_row_instant {
	display: none;
}
