.wpk-hours-table {
	margin: 0 auto;
	padding: 10px;
	border: none;

	thead {
		&, td {
			text-align: center;
		}
	}

	.wpk-date {
		display: inline-block;
		width: 100%;
		text-align: center;
	}

	td {
		border: none;
		display: inline-block;
	}

	thead td {
		font-weight: bold;
	}

	tbody {

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		tr {
			width: 25%;
			text-align: center;
		}
	}
}

#listing_calendar + div {
	.end_reservation, .calendar-today {
		cursor: pointer;
	}
}
