@import 'variables';
@import 'mixins';
@import 'utils';
@import 'booking-form';
@import 'edit-property/owner-booking-modal';
@import 'all-in-one';
@import 'search-form';
@import 'map';
@import 'search';
@import 'owner-area';
@import 'property-list-half';
@import 'edit-property/calendar';
@import 'payment-result';
@import 'contact-form';
@import 'hours-table';
@import 'advanced-filter';

.wpk-flex {
	display: flex;
}

.wpk-iframe {
	width: 100%;
	height: 100%;
}

#access .menu > li:last-of-type {
	i {
		font-family: 'FontAwesome';
	}
}

.page-template-user_dashboard_add_step1 .modal-body .login-links {
	display: block !important;
}

.fa.fa-long-arrow-right {
	font-family: FontAwesome;
}

select {
	-webkit-appearance: textarea;
}

@media(max-width: 500px) {
	.create_invoice_form .rating_legend {
		width: 100%;
	}
}
