.info_details {

	@media(min-width: 500px) {
		width: 380px !important;
	}

	.infodetails {
		@media(max-width: 600px) {
			position: static;
		}
	}

	#infodistance {
		margin-right: 10px;
		font-size: 14px;
		display: inline-block;
		position: relative;
		bottom: 2px;

		@media(max-width: 600px) {
			position: absolute;
			top: 76px;
			height: 45px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&::before {
			content: '\f21d';
			font-family: FontAwesome;
			width: 16px;
			height: 16px;
			margin-right: 7px;
			float: left;
			position: relative;
			font-size: 18px;
			top: 2px;
		}
	}
}

.wpk-geolocation {
	color: $black;
	i {
		margin-right: 12px;
		font-size: 19px;
	}
}
