
#search_wrapper {

	.types_icon {
		&::after {
			left: 44px;
		}

		select {
			text-indent: 25px;
			color: #8A8F9A;
			background: $white;
		}
	}

	&.type2 {
		top: 40% !important;

		@media(max-width: 900px) {
			display: block !important;
			top: 29px !important;
			margin: 0 !important;
			left: 0 !important;
			height: 500px;
			width: 100% !important;
			right: 0 !important;

			.adv-2-header {
				width: 100%;
				text-align: center;
				padding: 20px 20px;
			}

			.adv-2-wrapper, .adv-search-2 {
				width: 100%;
			}

		}

	}

	.wpk-select {
		@include select;
	}

	.adv-2-wrapper {
		height: 278px;

		@media(max-width: 430px) {
			display: none;
		}
	}

	#results {
		top: 350px;
	}

}

@media(max-width: 900px) {
	.is_search_type1 .header_media {
		margin-bottom: 40%;
		height: 485px;

		.wpestate_header_image {
			height: 100% !important;
		}
	}
}

@media(max-width: 730px) {
	.is_search_type1 .header_media {
		margin-bottom: 0;
		height: 480px;
	}
}

#adv-search-mobile, #adv-search-header-mobile {
	display: none !important;
}

