.search_wrapper {

	.wpk-time-section {

		&.wpk-flex {
			display: block;
			padding: 0 30px !important;
			width: 100%;

			.has_calendar {
				padding: 0;
				width: 60%;

			}

			.wpk-clock-icon {
				padding: 0;
				width: 40%;

				select {
					height: 50px;
				}
			}
		}
	}

}
