/**
 * Modal
 */

.wpk-modal {
	position: fixed;
	width: 80%;
	height: 80%;
	top: 15%;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999999999;
	display: none;
	margin: 0 auto;
	background-color: #ffffff;
	border-radius: 10px;
	padding: 20px;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	max-height: none !important;

	@media(max-width: 500px){
		width: 90%;
		height: 90%;
		padding: 0;
	}
}

.wpk-modal-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.5);
}
